<html lang="en-US" dir="ltr" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>PreSound</title>
    <!--
    Favicons
    =============================================
    -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="/static/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="/static/lib/animate.css/animate.css" rel="stylesheet">
    <link href="/static/lib/components-font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/lib/et-line-font/et-line-font.css" rel="stylesheet">
    <link href="/static/lib/flexslider/flexslider.css" rel="stylesheet">
    <link href="/static/lib/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/lib/owl.carousel/dist/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/static/lib/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <link href="/static/lib/simple-text-rotator/simpletextrotator.css" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
<main>
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
                    <span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href={{ url_for('home') }}>PreSound</a>
            </div>
            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href={{ url_for('home') }}>Home</a></li>
                    <li><a href={{ url_for('ml') }}>Sounds</a></li>
                    <li><a href={{ url_for('stt') }}>STT</a></li>
                    <li><a href={{ url_for('news') }}>News</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="max-height: 754px;">
        <section class="home-section  home-full-height bg-dark-30" id="home"
                 data-background="/static/images/section-5.jpg">
            <div class="video-player"
                 data-property="{videoURL:'https://www.youtube.com/watch?v=bNucJgetMjE', containment:'.home-section', startAt:18, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
            <div class="video-controls-box">
                <div class="container">
                    <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a
                            class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
                </div>
            </div>
            <div class="titan-caption">
                <div class="caption-content">
                    <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
                    <div class="font-alt mb-40 titan-title-size-4">We are Titan</div>
                    <a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
                </div>
            </div>
        </section>
    </div>
    <div class="main">
        <section class="module" id="alt-features">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Our Services</h2>
                        <div class="module-subtitle font-serif">딥러닝을 이용한 청각장애인 위험방지 및 STT 서비스
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="alt-features-item">
                            <div class="alt-features-icon">
                                <img src="{{ url_for('static', filename = 'high-volume.png')}}"/>
                            </div>
                            <h3 class="alt-features-title font-alt">Sounds classification</h3>
                            합성곱 신경망(CNN)을 통해 주위에 발생하는 소리 분류
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><img src="{{ url_for('static', filename = 'shield.png')}}"/></div>
                            <h3 class="alt-features-title font-alt">Risk detection</h3>
                            위험 감지를 통해 안전 사고를 예방
                        </div>
                        <!-- <div class="alt-features-item">
                           <div class="alt-features-icon"><span class="icon-target"></span></div>
                           <h3 class="alt-features-title font-alt">Marketing</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                         </div>
                         <div class="alt-features-item">
                           <div class="alt-features-icon"><span class="icon-tools"></span></div>
                           <h3 class="alt-features-title font-alt">Design</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                         </div>-->
                    </div>
                    <div class="col-md-6 col-lg-6 hidden-xs hidden-sm">
                        <div class="alt-services-image align-center"><img src="static/images/presound.PNG"
                        alt="Feature Image" style="height: 300px;width: 700px;"/></div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><img src="{{ url_for('static', filename = 'microphone.png')}}"/></div>
                            <h3 class="alt-features-title font-alt">STT Service</h3>
                            수화를 알지 못하는 상대방과 청각장애인 간의 원활한 의사소통 가능
                        </div>
                        <div class="alt-features-item">
                            <div class="alt-features-icon"><img src="{{ url_for('static', filename = 'online.png')}}"/></div>
                            <h3 class="alt-features-title font-alt">News and Information</h3>
                            웹 크롤링을 통해 최신 뉴스를 알려 청각장애인의 알 권리 충족
                        </div>
                        <!--<div class="alt-features-item">
                          <div class="alt-features-icon"><span class="icon-linegraph"></span></div>
                          <h3 class="alt-features-title font-alt">Music</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                        </div>
                        <div class="alt-features-item">
                          <div class="alt-features-icon"><span class="icon-basket"></span></div>
                          <h3 class="alt-features-title font-alt">Shop</h3>A wonderful serenity has taken possession of my entire soul like these sweet mornings.
                        </div>-->
                    </div>
                </div>
            </div>
        </section>
        <!--<section class="module bg-dark-60" data-background="assets/images/section-6.jpg">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="video-box">
                  <div class="video-box-icon"><a class="video-pop-up" href="https://www.youtube.com/watch?v=TTxZj3DZiIM"><span class="icon-video"></span></a></div>
                  <div class="video-title font-alt">Presentation</div>
                  <div class="video-subtitle font-alt">Watch the video about our new products</div>
                </div>
              </div>
            </div>
          </div>
        </section>-->
        <section class="module pb-0" id="works" style="margin-bottom: 140px;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Our Works</h2>
                        <div class="module-subtitle font-serif"></div>
                    </div>
                </div>
            </div>
            <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
                <li class="work-item illustration webdesign"><a href={{ url_for('ml') }}>
                    <div class="work-image"><img src="{{ url_for('static', filename = 'cnn1.png')}}"
                    alt="Portfolio Item" style="height: 300px;"/></div>
                    <div class="work-caption font-alt">
                        <h3 class="work-title">Sound Classification</h3>
                        <div class="work-descr">소리 인식 및 분류로 사고 예방</div>
                    </div>
                </a></li>
                <li class="work-item marketing photography"><a href={{ url_for('stt') }}>
                    <div class="work-image"><img src="{{ url_for('static', filename = 'stt.PNG')}}"
                     alt="Portfolio Item" style="height: 320px;"/></div>
                    <div class="work-caption font-alt">
                        <h3 class="work-title">STT Service</h3>
                        <div class="work-descr">장애인과 비장애인 간 소통 개선</div>
                    </div>
                </a></li>
                <li class="work-item illustration photography"><a href="{{ url_for('news') }}">
                    <div class="work-image"><img src="{{ url_for('static', filename = 'news.PNG')}}" alt="Portfolio Item" style="height: 320px;"/></div>
                    <form action="/news" method="POST">
                        <div class="work-caption font-alt">
                            <h3 class="work-title">News & Information</h3>
                            <div class="work-descr">뉴스 및 구직 정보</div>
                            <button type="submit" class="btn btn-default" style="display: none;">제출</button>
                        </div>
                    </form>
                </a></li>
            </ul>
        </section>
        <hr class="divider-w">
        <div class="module-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3"style="width:50%!important;">
                        <div class="widget">
                            <h5 class="widget-title font-alt">About PreSound</h5>
                            <p>딥러닝을 이용한 청각장애인 위험방지 및 STT 서비스</p>
                            <p><a>합성곱 신경망(CNN)을 통해 주위에 발생하는 소리를 분류하여 청각장애인에게 위험이 감지되었을 때 소리의 정보를 전달하여 안전사고를 예방할 수 있습니다.
                            상대방의 음성을 문자로 출력하고(speech to text) 사용자가 입력하는 문자를 소리로 출력하는(text to speech) 서비스를 제공하여 사용자와 상대방 간의 원활한 의사소통이 가능합니다.
                                청각장애인의 알 권리 충족을 위해 웹 크롤링을 사용하여 보조기기 신청자 모집, 채용 지원 등 최신 뉴스를 손쉽게 전달합니다.</a></p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widget-title font-alt">Customer Service </h5>
                            <ul class="icon-list">
                                <li>김세하 <a href="{{ url_for('stt') }}">STT Service</a></li>
                                <br>
                                <li>정예진 <a href="{{ url_for('news') }}">News & Information</a></li>
                                <br>
                                <li>정윤아 <a href="{{ url_for('ml') }}">Sound Classification</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widget-title font-alt">Contact Us</h5>
                            <p>Address: <br><a href="#">강원 춘천시 강원대학길 1 공대 5호관 501호</a> </p>
                            <p>Phone: +1 234 567 89 10</p>
                            <p>Email:<a href="#">presound@kangwon.ac.kr</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider-d">
        <footer class="footer bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright font-alt">&copy; 2021&nbsp;<a href="index.html">Presound</a>, All Rights
                            Reserved</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i
                                class="fa fa-skype"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<!--
JavaScripts
=============================================
-->
<script src="/static/lib/jquery/dist/jquery.js"></script>
<script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/lib/wow/dist/wow.js"></script>
<script src="/static/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/static/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/static/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/static/lib/flexslider/jquery.flexslider.js"></script>
<script src="/static/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/static/lib/smoothscroll.js"></script>
<script src="/static/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/static/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/static/js/plugins.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>